<a href="/">Voltar</a>
<h2>Adicione uma Nota :</h2>
<form action="/notes" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="title" name="title">

    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description"></textarea>

    </div>
    <button type="submit" class="btn btn-primary">Criar Nota</button>
</form>